[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
picamera = "*"
requests-toolbelt = "*"
moviepy = "*"
opencv-python = "*"
nptime = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
app = "python -u app.py"
test = "pytest ."
